:root {
    --mainTheme: #1B2838;
    --themeSemiDark: #18202a;
    --themeDark: #171D25;
    --highlightBlue: #1A9FFF;
    --textColor: #C5C3C0;
    --textDim: #7c7a78;
    --textHuge: 3vmin;
    --textBig: 2vmin;
    --textRegular: 1vmin;
    --articleHeight: 15vh;
    --articleHeightLong: 20vh;
}

@media only screen and (min-width: 800px) {
    :root {
        --textHuge: 3vmax;
        --textBig: 1.5vmax;
        --textRegular: 1vmax;
        --articleHeight: 60vh;
    }

    #about {
        min-height: var(--articleHeightLong);
    }
}

@media only screen and (max-device-width: 800px) {
    #about {
        min-height: 20vh;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--mainTheme);
    margin: 0;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
    cursor: default;
}

#aboutAnchor {
    margin-top: 16vmin;
}

/* NAVIGATION */

nav {
    position: fixed;
    z-index: 116;
    display: flex;
    background-color: var(--themeDark);
    height: 15vmin;
    width: 100vw;
    box-sizing: border-box;
    padding: 3vmin 5vw;
    user-select: none;
    color: var(--textColor);
}

nav a {
    color: var(--textColor);
    font-size: var(--textBig);
    text-decoration: none;
}

#profile {
    display: flex;
    height: 100%;
    width: 100%;
    gap: 5%;
}

#name {
    margin-top: auto;
    margin-bottom: auto;
}

nav img {
    height: 9vmin;
    width: 9vmin;
    border-radius: 6vmin;
    opacity: 80%;

    transition: opacity 0.5s ease-in-out;
}

/* Menu tabs */
#menuTabs {
    height: 9vmin;
    min-width: 80vw;
    gap: 5%;
    display: flex;
    align-items: center;
    margin: auto;
}

#menuTabs>.menuTab {
    min-width: 10vw;
    font-size: var(--textBig);
    cursor: pointer;

}

/* nav links animations */
nav a:hover {
    color: white;
}

a:hover img {
    opacity: 100%;
}

/* MAIN */
main {
    padding: 3vmin 10vw;
    color: var(--textColor);
    font-size: var(--textBig);
}

header {
    font-size: var(--textHuge);
    letter-spacing: 1vmin;
    color: var(--textColor);
    text-align: center;
}

article {
    padding: 2% 0;
    display: flex;
    border-top: 1px solid var(--highlightBlue);
    background-color: var(--themeSemiDark);
    min-height: var(--articleHeight);
    margin-bottom: 10%;
}

/* ABOUT */
#about {
    display: flex;
}

#aboutPicture {
    height: calc(0.95 * var(--articleHeight));
    width: calc(0.95 * var(--articleHeight));
    margin: auto 2%;
    padding: 0;
}

#pictureButtons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
}

.pictureButton {
    cursor: pointer;
}

#about img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 5px;
}

#aboutContent {
    margin-left: 1.5%;
    display: flex;
    flex-direction: column;
    width: calc(100% - calc(0.95 * var(--articleHeight)));
    background-color: var(--themeDark);
}

#contentText {
    text-align: justify;
    margin: 0 3%;
}

#contentText > header {
    margin: 4% 0 2% 0;
}

#contentButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contentButton {
    background-color: var(--mainTheme);
    min-width: calc(25% - 1px);
    border-left: 1px solid var(--themeDark);
    text-align: center;
    user-select: none;
    cursor: pointer;
    transition: all 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.contentButtonClicked {
    filter: brightness(90%);
    color: var(--textDim);
    max-width: 80%;
    max-height: 80%;
    font-size: 70%;
}

.contentButton:first-child {
    border-left: none;
}

/* ABOUT section redirectors */
.docsRedir {
    filter: brightness(80%);
    color: var(--highlightBlue);
    transition: all 0.2s linear;
}

.docsRedir:hover {
    filter: brightness(100%);
    font-size: 120%;
    cursor: pointer;
}


/* PROJECTS */
#projectInventory {
    margin-left: 3vw;
    width: 25vw;

    margin-right: 1vw;
    text-align: center;
}

#inventoryGrid {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.gridElement {
    margin-top: 1vh;
    width: auto;
    height: auto;
}

.gridElement img {
    padding-right: 1vw;
    width: 9vw;
    height: 9vw;
    filter: brightness(75%);
}

#projectDescription {
    width: 44vw;
    margin: 0 0 0 5vw;
    text-align: center;
    background-color: var(--themeDark);
}

#projectDescription header {
    font-size: var(--textRegular);
    margin: 4%;
}

#projectTab {
    height: auto;
}

#description {
    font-size: var(--textRegular);
    text-align: justify;
    max-width: 100%;
    min-height: 28%;
    display: flex;
    padding: 2% 4% 0 4%;
    margin-bottom: 4%;
}

#description img {
    max-width: 40%;
    max-height: 40%;
    display: block;
    margin: auto 2vh auto auto;
}

#projectLinks {
    position: relative;
    left: 10px;
    bottom: 9%;
}

#projectLinks>a {
    text-decoration: none;
    color: var(--textColor);
    margin-right: 10%;
}

#projectLinks>a>.icon-github-circled {
    font-size: var(--textRegular);
}

/* DOCUMENTS */
#documents {
    background-color: var(--themeDark);
    display: flex;
    flex-direction: row;
    min-height: initial;
    min-width: initial;
    justify-content: center;
    padding: 2%;

}

.document {
    width: 20vmin;
    height: 20vmin;
    margin: 1vmin;
    background-color: var(--themeSemiDark);
    border: 1px solid var(--highlightBlue);
}

.document img {
    max-width: 100%;
    max-height: 100%;
}

.highlighted {
    color: var(--highlightBlue);
    text-decoration: underline;
}